body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
}
html {
  box-sizing: border-box;
}
*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin: 0;
	padding:0;
}
.full-container{
	width: 100%;

}
.topheader{
	background: #006064 !important;	
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
color: #FFFFFF;
}
.user{
	float: right;
	margin: 5px auto;
}
.ucol{
color: #FF9800;
}
.menu{
	float: right;
	margin: 20px 0;
	clear: both;
}
.menu ul{
margin:0; padding:0; list-style-type: none;
}
.menu ul li{
padding: 5px;
float: left;
color: #FFFFFF;
}
.menu ul li a{
padding: 0 0 0 20px;
display: block;
text-decoration: none;
}
.banner{
background: black;
width: 100%;
height: 250px;
}
.content{
background: #607D8B;
width: 100%;
}
.circle-align{
width: 16.666%;
float: left;
}
.circle{
  position:relative;
  width:150px;
  height:150px;
  background:#009688;
  border-radius:50%;
  margin: 20px auto;
}
.icon-align{
position:absolute;
top: 45px;
left: 45px;
margin: 0 auto;
}
.icon {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}
.icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.caption{
position:relative;	
top: 170px;
left: 50px;
margin: 0 auto;
font-weight: 600;
}
/* Modal Popup */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 75%;
	height: 75%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 2px;
	background: #FFF;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -125px;
    text-align: center;
    top: -120px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
video{
margin: 0 100px; width: 800px;	
}




