HTML

<a href="javascript:void(0);" id="scroll-top-body" title="Back to Top" data-tooltip="tooltip" data-placement="left" class="btn-floating purple-gradient btn-lg"><i class="material-icons">arrow_upward</i></a>


CSS
/*Scroll To top*/
#scroll-top-body {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;    
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#scroll-top-body.btn-floating.btn-lg {
    width: 50px;
    height: 50px;
    background: hsl(343, 79%, 65%);
}

#scroll-top-body.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 50px;
}

JS

//Scroll to Top
$(document).ready(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#scroll-top-body').fadeIn();
        } else {
            $('#scroll-top-body').fadeOut();
        }
    });
    $('#scroll-top-body').click(function () {
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
});